<toast></toast>
<div class="container">
	<div class="row"><h1 style="padding-left: 30px;">My Blogs Posts</h1></div>
	<div class="row">
		<div ng-if="len == 0">
			<div class="col-md-8 col-sm-8 col-xs-12 col-lg-10">
				<h3>You have not posted anything yet. Click the button to create a new post.</h3>
				<a class="btn btn-primary" href="template/create.html">Create a Post</a>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="panel-group">
				<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="blog in userBlogs" style="height:214px;">
					<div class="panel panel-default panel-primary">
						<div class="panel-heading">{{blog.title}}</div>
						<div class="panel-body" ng-bind-html="blog.content | htmlToPlainText | limitTo: 100"></div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-6">
									<a class="btn btn-primary btn-sm" href="#/edit/{{blog._id}}">Edit Post</a>
								</div>
								<div class="col-md-6">
									<a class="pull-right" href="#/view/{{blog._id}}">Read Now</a>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>